* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(resources/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: "East Sea Dokdo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    margin-bottom: 100px;
}

header img {
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .joke-container {
    font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 8px 0 rgba(47, 47, 47, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    height: 500px;
    width: 550px;
    justify-content: center;
    align-items: center;
}

.joke-container:hover {
    box-shadow: 0 10px 15px 0 rgba(255, 0, 0, 0.2);
}

main .text-placer {
    width: 450px;
    height: 300px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

main .text-placer h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    text-align: center;
    overflow: scroll;
}

main .text-placer h3 {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    text-align: center;
    overflow: scroll;
    text-decoration: underline;
    color: midnightblue;
}

main .buttons-placer {
    display: flex;
    width: 500px;
}

/*
main .buttons-placer .save {
    border-radius: 25px;
    height: 62px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 4px 8px 0 rgba(47, 47, 47, 0.2);
    background-color: #fff;
    font-size: 20px;
    width: 150px;
    transition: 0.5s;
    justify-self: flex-start;
    color: midnightblue;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}*/


main .buttons-placer .new {
    border-radius: 25px;
    transition: 0.5s;
    font-size: 20px;
    cursor: pointer;
    height: 62px;
    width: 150px;
    box-shadow: 2px 4px 8px 0 rgba(47, 47, 47, 0.2);
    margin-left: 170px;
    background-color: #fff;
    color: midnightblue;
    border: none;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.socials {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socials {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.socials a {
    margin: 0px 2px;
    margin: 0 20px;
    border-radius: 50%;
    box-sizing: border-box;
    background: #fff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    background: rgba(0,0,0,0);
    color: var(--color);
    font-size: 2.5em;
    --webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.4));
}

.socials a:hover {
    opacity: 0.6;
    background:var(--color);
    color: #050801;
    box-shadow: 0 0 5px var(--color), 0 0 25px var(--color), 0 0 200px var(--color);
}
